@use "@/styles/variables" as *;
@use "@/styles/mixin" as *;

.sav_Checkbox {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    user-select: none;
    font-size: 0.9rem;
    color: $text-secondary;

    input {
        display: none; // Hide native checkbox
    }

    .sav_Box {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 6px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        color: transparent;

        &.sav_Checked {
            background: $primary;
            border-color: $primary;
            color: $text-inverse;
        }

        &.sav_Error {
            border-color: $status-danger;
        }
    }

    &:hover .sav_Box {
        border-color: rgba($primary, 0.5);
    }
}